name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build e testes (Maven)
        run: mvn -B clean test

      - name: Gerar relat贸rio JaCoCo
        run: mvn -B jacoco:report

      - name: Publicar relat贸rio de testes
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: target/surefire-reports

      - name: Publicar relat贸rio de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco